# Compiled Object files
*.o

# Compiled Static libraries
*.a

# Executables
src/long_seq_tm_test
src/ntdpal
src/ntthal
src/oligotm
src/primer3_core
src/primer3_masker
src/amplicon3_core
src/*.exe

# Temporary Test Files
test/primer1_list_tmp/*
test/primer1_th_list_tmp/*
test/primer_list_tmp/*
test/th-w-other-tasks_list_tmp/*
test/*.err
test/*.tmp
test/*.tmp2
test/*.valg
test/*.vg
test/primer_global_err/*.tmp
test/primer_global_err/*.tmp2
test/primer_global_err/*.valg
test/primer_global_err/*.vg
test/amplicon3/*.tmp
test/amplicon3/*.vg
test/amplicon3/*.valg

# Individual Test Files
test/hyb_probe_only.for
test/hyb_probe_only.int
test/left_only.for
test/pcr_primers.for
test/pcr_primers.rev
test/pcr_primers_and_io.for
test/pcr_primers_and_io.int
test/pcr_primers_and_io.rev
test/right_only.for
test/right_only.rev
test/syntax01.for
test/syntax01.int
test/syntax01.rev
test/syntax02.for
test/syntax02.int
test/syntax02.rev
test/syntax03.for
test/syntax03.int
test/syntax03.rev
test/syntax04.for
test/syntax04.int
test/syntax04.rev
test/syntax07.for
test/syntax07.int
test/syntax07.rev
test/syntax09.for
test/syntax09.int
test/syntax09.rev
test/syntax10.for
test/syntax10.int
test/syntax10.rev

.DS_Store
